@import "./../../../node_modules/bootstrap/scss/forms";
@import "./../../../node_modules/bootstrap/scss/buttons";
@import "./../../../node_modules/bootstrap/scss/input-group";
@import "./../../../node_modules/bootstrap/scss/custom-forms";

.form-group {
    label {
        color: $text-muted;
        font-size: 80%;
    }
}

.form-control {
    color: #222;
    &:hover {
        border-color: $gray-700;
    }
    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 1px $primary;
    }
}

.form-control-lg {
    height: add($input-height-lg, .5rem);
    font-size: 1rem;
}
