@import "./global";
@import "./components/forms";

body {
    background-color: $gray-100;
}

.card-login {
    border: none;
    margin-top: 10%;
    & .card-header {
        background-color: $white;
        border-bottom: none;
    }
}
